

:root {
    --branco: white;
    --cor-de-fundo: #00162E;
    --fundo-senha: #002440;
    --fundo-texto: #001e40;
    --borda: #0;

}




body {
    color: var(--branco);
    background-color: var(--cor--de-fundo);

}
